<div class="modal-header">
    <ul class="nav nav-tabs">
        <li ng-class="{'active':logTab==='stderr'}" class="active">
            <a href="" ng-click="console('stderr')" tabindex="0"><i class="fa fa-terminal"></i>Log</a>
        </li>
        <li ng-class="{'active':logTab==='stdout'}">
            <a href="" ng-click="console('stdout')" tabindex="0"><i class="fa fa-list"></i>Output</a>
        </li>        
    </ul>
    <a ng-click="refresh(logTab)"><i class="si-refresh log-refresh"></i></a>
</div>
<div class="modal-body">
    <div class="tab-content">
        <div class="tab-pane active" ng-class="{'active':logTab==='stderr'}">
            <div ng-repeat="log in logs track by $index" class="log-line">
                {{log}}
            </div>
        </div>
        <div class="tab-pane active" ng-class="{'active':logTab==='stdout'}">
            <div ng-repeat="log in logs track by $index" class="log-line">
                {{log}}
            </div>
        </div>        
    </div>
</div>
